################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chemical_Ne/FileContentIndex/4042ce35-e6ed-4a7b-ba2a-83b243c96291.vsidx
/.vs/Chemical_Ne/FileContentIndex
